.intro-container{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    position: relative;

}

.titles{
    align-self: center;
    text-align: center;
    line-height: 35px;
    position: absolute;
    top: 10%;
    left: 10%;
    color: red;
}

.img-container{
    border-radius: 5px;
    width: 100%;
    height: 250px;
}

img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

