.comp-container{
    display: flex;
    flex-direction: row;
    width: 280px;
    height: 80px;
    column-gap: 10px;
    padding: 4px;
    border-style: outset;
}

.car-pic{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail{
    line-height: 3px;
    color: black;
    font-weight: 450;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

